*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}
                /* HEADER */
.height_75{
    height: 75px;
}

.my-navlist{
    list-style: none;
    display: flex;
    justify-content: end;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.my-navlist li{
    padding: 5px 15px;
}

.my-navlist li a{
    text-decoration: none;
    color: white;
}

                /* MAIN */

/* Start Bootstrap */

/* Portfolio */
main #portf .row .content{
    height: 120px;
    background-color: chocolate
}

main #portf .row .content_box{
    height: 200px;
    background-color: chocolate
}

/* About */
main #about .row .content{
    background-color: green;
    height: 120px;
}

main #about .row .content_text{
    background-color: green;
    height: 300px;
}

main #about .row .content_button{
    background-color: green;
    height: 90px;
}

/* Contact Me */
main #contact .row .content{
    background-color: darkmagenta;
    height: 700px;
}

                /* FOOTER */

/* Info */
footer #info .row .content_text{
    background-color: cadetblue;
    height: 100px;
}

footer #copyright .row .content_text{
    background-color: cadetblue;
    height: 50px;
}

/* Breack Star */
.star{
    margin: 0 auto;
    color: white;
    font-size: 50px;
    max-width: 205px;
    position: relative;
}

.star:before {
    content: "";
    display: block;
    width: 80px;
    height: 5px;
    border-radius: 20px;
    background: white;
    left: 0;
    top: 50%;
    position: absolute;
  }
.star:after {
    content: "";
    display: block;
    width: 80px;
    height: 5px;
    border-radius: 20px;
    background: white;
    right: 0;
    top: 50%;
    position: absolute;
  }

/* BACKGROUND COLOR */

.bg_darkgray{
    background-color: #2C3E50;
}

.bg_darkgray2{
    background-color: #3A546D;
}

.bg_aquagreen{
    background-color: #1ABC9C;
}