*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}
                /* HEADER */
.height_75{
    height: 75px;
}

.my-navlist{
    list-style: none;
    display: flex;
    justify-content: end;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.my-navlist li{
    padding: 5px 15px;
}

.my-navlist li a{
    text-decoration: none;
    color: white;
}

                /* MAIN */

/* Start Bootstrap */

/* Portfolio */

/* About */
main #about .content_button button:hover{
    background-color: rgba(128, 128, 128, 0.3);
}

/* Contact Me */
main #contact .content-input form div{
    margin-bottom: 10px;
}

main #contact .content-input form div button:hover{
    background-color: #1abc9cbb;
}

                /* FOOTER */

/* Info */
footer #info .row .content_text{
    background-color: cadetblue;
    height: 100px;
}

footer #copyright .row .content_text{
    background-color: cadetblue;
    height: 50px;
}

/* Breack Star */
.star{
    margin: 0 auto;
    color: white;
    font-size: 50px;
    max-width: 205px;
    position: relative;
}

.star:before {
    content: "";
    display: block;
    width: 80px;
    height: 5px;
    border-radius: 20px;
    background: white;
    left: 0;
    top: 50%;
    position: absolute;
  }
.star:after {
    content: "";
    display: block;
    width: 80px;
    height: 5px;
    border-radius: 20px;
    background: white;
    right: 0;
    top: 50%;
    position: absolute;
  }
/* star black */
.star-black{
    margin: 0 auto;
    font-size: 50px;
    max-width: 205px;
    position: relative;
}

.star-black:before {
    content: "";
    display: block;
    width: 80px;
    height: 5px;
    border-radius: 20px;
    background: black;
    left: 0;
    top: 50%;
    position: absolute;
  }
.star-black:after {
    content: "";
    display: block;
    width: 80px;
    height: 5px;
    border-radius: 20px;
    background: black;
    right: 0;
    top: 50%;
    position: absolute;
  }


/* BACKGROUND COLOR */

.bg_darkgray{
    background-color: #2C3E50;
}

.bg_darkgray2{
    background-color: #3A546D;
}

.bg_aquagreen{
    background-color: #1ABC9C;
}